albumentations
argcomplete
atomicwrites
attrs
autopep8
backports.entry-points-selectable
certifi
cffi
charset-normalizer
click
colorama
colorlog
configparser
cycler
distlib
docker-pycreds
filelock
gevent
gitdb
GitPython
greenlet
idna
imageio
imgaug
iniconfig
kiwisolver
matplotlib
networkx
nox
numpy
opencv-python
opencv-python-headless
packaging
pathtools
Pillow
platformdirs
pluggy
promise
protobuf
psutil
py
pycodestyle
pycparser
pyparsing
pytest
python-dateutil
PyWavelets
PyYAML
requests
scikit-image
scipy
sentry-sdk
Shapely
shortuuid
six
smmap
subprocess32
termcolor
tifffile
toml
torch
torchaudio
torchvision
tqdm
typing-extensions
urllib3
virtualenv
wandb
yapf
yaspin
zope.event
zope.interface
ezkfg